@font-face {
    font-family: minimal1;
    src: url("../fonts/TrenchThin-16R0.otf");
}
@font-face {
    font-family: minimal2;
    src: url("../fonts/DarlingtonDemo-z8xjG.ttf");
}
@font-face {
    font-family: minimal3;
    src: url("../fonts/LinuxLibertine-RdWo.ttf");
}