html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
    list-style: none;
    user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0%;
    border: 0cm;
}

@font-face {
    font-family: "signature_model";
    src: url("/static/fonts/DarlingtonDemo-z8xjG.ttf");
}

@font-face {
    font-family: "custom_standard";
    src: url("/static/fonts/Arena-rvwaK.ttf");
}

@font-face {
    font-family: "custom_times";
    src: url("/static/fonts/LinuxLibertine-RdWo.ttf");
}

@font-face {
    font-family: "custom_standard_3";
    src: url("/static/fonts/TrenchThin-16R0.otf");
}

.dashboard {
    z-index: -999;
    display: flex;
    justify-content: center;

    img {
        width: 80%;
        height: auto;
    }
}

.nav_main {
    padding: 0%;
    position: fixed;
    z-index: 999;
    display: flex;
    top: 20%;
    /* background-color: #cc4ac5; */
}

.nav_container {
    /* background-color: #cc4ac5; */
    padding-left: 35%;

}

.nav_list {
    padding: 10px;
    background-color: #cc4ac5;
    border-radius: 10px;

    ul {
        text-align: center;
        padding: 0%;
        list-style: none;
        gap: 80px;
        display: flex;
        flex-direction: column;
    }
}

.icons {
    width: 20px;
}


.login_main {
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 10px;
    right: 5%;
    gap: 20px;
}

#input_login {
    border-radius: 40px;
    color: #f6caf7;
    background-color: #993e9e4a;
    border: none;
}

#button_login {
    border-radius: 100px;
    width: 20px;
    text-align: center;
    color: #f6caf7;
    background-color: #993e9e4a;
    border: 0;
    /* border: 2px #f6c0f8 solid; */
}

.footer_main {
    position: fixed;
    bottom: 0;
    color: #f6c0f8;
    display: flex;
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: #00000061;
}

.footer_container {
    display: flex;
    flex-direction: column;
    padding-left: 20%;
    text-align: center;
    gap: 5px;
}

.voiceline {
    font-family: custom_standard_3;
    letter-spacing: 1px;

}

.obsession {
    font-family: custom_standard_3;
    font-size: small;
    /* font-weight: lighter; */
    font-variant: small-caps;
    letter-spacing: 1px;
}

.name {
        font-family: custom_standard_3;
        font-weight: bolder;
        text-transform:capitalize;
        font-size: 20px;
}

/* ------------mobile version----------- */


@media (max-width: 767px) {

    html,
    body {
        margin: 0;
        padding: 0;
        overflow: hidden;
        background: black;
        list-style: none;
    }

    .dashboard {
        overflow: hidden;
        z-index: -999;
        display: flex;
        justify-content: center;
        align-items: center;


        img {
            padding-left: 80px;
            width: 350%;
            height: auto;
        }
    }

    .nav_main {
        padding: 0%;
        position: fixed;
        z-index: 999;
        display: flex;
        top: 30%;
        /* background-color: #cc4ac5; */
    }

    .nav_container {
        /* background-color: #cc4ac5; */
        padding-left: 35%;

    }

    .nav_list {
        padding: 10px;
        background-color: #cc4ac5;
        border-radius: 10px;

        ul {
            text-align: center;
            padding: 0%;
            list-style: none;
            gap: 80px;
            display: flex;
            flex-direction: column;
        }
    }

    .icons {
        width: 20px;
    }

    .login_main {
        z-index: 9999;
        position: fixed;
        display: flex;
        top: 20px;
        right: 5%;
        gap: 10px;
    }

    #input_login {
        border-radius: 100px;
        width: 130px;
        color: #f6caf7;
        background-color: #993e9e4a;
        border: none;
    }

    #button_login {
        border-radius: 100px;
        width: 20px;
        text-align: center;
        color: #f6caf7;
        background-color: #993e9e;
        border: 2px #f6c0f8 solid;
    }

    .footer_main {
        position: fixed;
        bottom: 0;
        color: #f6c0f8;
        display: flex;
        width: 100%;
        height: 50px;
        padding: 10px;
        background-color: #00000061;
    }

    .footer_container {
        display: flex;
        flex-direction: column;
        align-content: safe;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
        gap: 5px;
        /* padding: 10px; */
    }

    .voiceline {
        font-family: custom_standard_3;
        width: fit-content;
        font-size: 10px;
        font-weight: lighter;

    }

    .obsession {
        font-family: custom_standard_3;
        font-size: 10px;
        font-weight: lighter;
    }

    .name {
        font-family: custom_standard_3;
        font-weight: bolder;
        font-size: 12px;
        /* text-transform: uppercase */
    }

}