html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
    list-style: none;
}

@font-face {
    font-family: "signature_model";
    src: url("/static/media/font/DarlingtonDemo-z8xjG.ttf");
}

@font-face {
    font-family: "custom_standard";
    src: url("/static/media/font/Arena-rvwaK.ttf");
}

@font-face {
    font-family: "custom_times";
    src: url("/static/media/font/LinuxLibertine-RdWo.ttf");
}

.dashboard {
    z-index: -999;
    display: flex;
    justify-content: center;

    img {
        width: 80%;
        height: auto;
    }
}

/* nav_main{
    
} */

/* ------------mobile version----------- */

@media (max-width: 767px) {
html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
    list-style: none;
}
    .dashboard {
        overflow: hidden;
        z-index: -999;
        display: flex;
        justify-content: center;
        align-items: center;


        img {
            padding-left: 80px;
            width: 350%;
            height: auto;
        }
    }

    .nav_main {
        padding: 0%;
        position: fixed;
        z-index: 999;
        display: flex;
        top: 30%;
        /* background-color: #cc4ac5; */
    }
    .nav_container{
        /* background-color: #cc4ac5; */
                padding-left: 35%;

    }
    .nav_list {
        padding: 10px;
        background-color: #cc4ac5;
        border-radius: 100px;
        ul {
            text-align: center;
            padding: 0%;
            list-style: none;
            gap: 80px;
            display: flex;
            flex-direction: column;
        }
    }
    .icons{
        width: 20px;
    }

}