html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
    list-style: none;
    user-select: none;
}

@font-face {
    font-family: "signature_model";
    src: url("/static/media/font/DarlingtonDemo-z8xjG.ttf");
}

@font-face {
    font-family: "custom_standard";
    src: url("/static/media/font/Arena-rvwaK.ttf");
}

@font-face {
    font-family: "custom_times";
    src: url("/static/media/font/LinuxLibertine-RdWo.ttf");
}

.dashboard {
    z-index: -999;
    display: flex;
    justify-content: center;

    img {
        width: 80%;
        height: auto;
    }
}

.nav_main {
    padding: 0%;
    position: fixed;
    z-index: 999;
    display: flex;
    top: 20%;
    /* background-color: #cc4ac5; */
}

.nav_container {
    /* background-color: #cc4ac5; */
    padding-left: 35%;

}

.nav_list {
    padding: 10px;
    background-color: #cc4ac5;
    border-radius: 10px;

    ul {
        text-align: center;
        padding: 0%;
        list-style: none;
        gap: 80px;
        display: flex;
        flex-direction: column;
    }
}

.icons {
    width: 20px;
}


.login_main {
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 10px;
    right: 5%;
    gap: 20px;
}

#input_login {
    border-radius: 40px;
    color: #f6caf7;
    background-color: #993e9e4a;
    border: none;
}

#button_login {
    border-radius: 100px;
    width: 20px;
    text-align: center;
    color: #f6caf7;
    background-color: #993e9e4a;
    border: 0;
    /* border: 2px #f6c0f8 solid; */
}

.footer_main {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 25%;
}

.footer_container {
    color: #cc4ac5;
    display: flex;
    justify-content: center;
}

.footer_content {
    display: grid;
    flex-direction: column;
    text-align: center;
}

/* ------------mobile version----------- */


@media (max-width: 767px) {

    html,
    body {
        margin: 0;
        padding: 0;
        overflow: hidden;
        background: black;
        list-style: none;
    }

    .dashboard {
        overflow: hidden;
        z-index: -999;
        display: flex;
        justify-content: center;
        align-items: center;


        img {
            padding-left: 80px;
            width: 350%;
            height: auto;
        }
    }

    .nav_main {
        padding: 0%;
        position: fixed;
        z-index: 999;
        display: flex;
        top: 30%;
        /* background-color: #cc4ac5; */
    }

    .nav_container {
        /* background-color: #cc4ac5; */
        padding-left: 35%;

    }

    .nav_list {
        padding: 10px;
        background-color: #cc4ac5;
        border-radius: 10px;

        ul {
            text-align: center;
            padding: 0%;
            list-style: none;
            gap: 80px;
            display: flex;
            flex-direction: column;
        }
    }

    .icons {
        width: 20px;
    }

    .login_main {
        z-index: 9999;
        position: fixed;
        display: flex;
        top: 20px;
        right: 5%;
        gap: 10px;
    }

    #input_login {
        border-radius: 100px;
        width: 130px;
        color: #f6caf7;
        background-color: #993e9e4a;
        border: none;
    }

    #button_login {
        border-radius: 100px;
        width: 20px;
        text-align: center;
        color: #f6caf7;
        background-color: #993e9e;
        border: 2px #f6c0f8 solid;
    }

}