html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
  list-style: none;
}

/* Default desktop view */
.dashboard_vid {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.5s ease;
  z-index: -999;
}

.navbar {
  z-index: 1;
  position: absolute;
  padding-top: 10%;
}

.nav_img {
  width: 20px;
  height: 20px;
}

.nav_container {

  display: flex;

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.login {
  position: fixed;
  z-index: 1;  
  display: flex;
  flex-direction: row;
  
}
.login_main {
  position: fixed;
  z-index: 1;  
  display: flex;
  flex-direction: row;
  z-index: 999;
}

.login_container {
  position: fixed;
  padding-top: 10px; 
  gap: 5px;
  display: flex;
  flex-direction: row;
}

.secret {
  border-radius: 20px;
  border: .05px solid #a0c4ff;
  background-color: #a5c8fd;
}

.secret_btn {
  z-index: 999;
  border-radius: 50px;
  border: .05px solid #a0c4ff;
  background-color: #a5c8fd;
}

/*  Mobile: rotate + fill properly */
@media (max-width: 767px) {
  .dashboard_vid {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100vh;
    /* swapped dimensions */
    height: 100vw;
    transform: translate(-50%, -50%) rotate(90deg);
    /*  correct order */
    transform-origin: center center;
    object-fit: cover;
    z-index: -999;
  }

  .navbar {
    z-index: 1;
    position: absolute;

    .nav_img {
      width: 20px;
      height: 20px;
      transform: rotate(90deg);
    }
  }

  .nav_container {
    display: flex;

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 30px;

    }
  }

  .login {
    gap: 20px;
    position: fixed;
    display: flex;
    flex-direction: row;
  }

  .login_container {
    gap: 20px;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 200px;
    left: 280px;
  }

  .secret {
    transform: rotate(90deg);
    display: flex;
    align-items: center;
    height: 20px;
    width: 150px;
    border-radius: 20px;
    border: .05px solid #a0c4ff;
    background-color: #a5c8fd;
    
  }

  .secret_btn {
    display: flex;
    position: fixed;
    height: 20px;
    width: 25px;
    transform: rotate(90deg);
    z-index: 999;
    border-radius: 50px;
    border: .05px solid #a0c4ff;
    background-color: #a5c8fd;
    top: 310px;
    left: 345px;
  }
}