<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <script src="/static/js/validation.js"></script>

</head>

<body>

    <div class="main">
        <div class="main_container">
            <div class="grid">
                <div class="grid_container">
                    <img src="" alt="Drawing" class="img1">
                    <img src="" alt="3D Design" class="img2">
                    <img src="" alt="Digital Art" class="img3">
                </div>
            </div>
        </div>
    </div>
</body>

</html>